<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://testfunctionsapp20220809212955.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a13f2489-0cd9-4f16-bb64-87ccbc813f45/resourceGroups/TestFunctionsApp20220809212955ResourceGroup/providers/Microsoft.Web/sites/TestFunctionsApp20220809212955</ResourceId>
    <UserName>$TestFunctionsApp20220809212955</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://testfunctionsapp20220809212955.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>